
.cover-page{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;

    background-image: url('../../assets/img/633288.png');
    background-size: cover;

    height: 20rem;
}

.cover-page_static{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 8rem;

    z-index: 10;
}

